<div class="page-container flex-fill">
    <md-app md-waterfall md-mode="fixed" style="height: 100vh">
        <md-app-toolbar class="md-primary md-dense">
            <ShellHeader :toggle="toggle"></ShellHeader>
        </md-app-toolbar>
        <md-app-drawer :md-active.sync="drawer" style="max-width: 280px">
            <ShellDrawer :toggle="toggle"></ShellDrawer>
        </md-app-drawer>
        
        <md-app-content>
            <router-view></router-view>
        </md-app-content>
    </md-app>
</div>