<div ref="IZ-select" class="IZ-select" tabindex="0"
    @keydown.up="onSelectByArrow"
    @keydown.down="onSelectByArrow"
    @keydown.enter="onEnter"
    @keydown.tab.esc="setBlured"
    @mousedown="onClick"
>
    <!-- <div
        ref="IZ-select__input"
        :class="{
          'IZ-select__input': true,
          'IZ-select__input--focused': focused,
          'IZ-select__input--has-menu': hasMenu,
          'IZ-select__input--has-error': hasError,
          'IZ-select__input--selection-slot': showSelectionSlot,
          'IZ-select__input--disabled': disabled,
          'IZ-select__input--readonly': readonly
        }"
        :style="inputStyles"
    >
      <slot
        v-if="showSelectionSlot"
        :item="selectedItem"
        name="selection"
      ></slot>

      <input
        ref="IZ-select__input-for-text"
        v-bind="inputElCustomAttributes"
        :value="inputValue"
        :placeholder="placeholder"
        :style="inputForTextStyles"
        :class="inputForTextClass"
        :disabled="disableSearch || disabled"
        :readonly="readonly"
        type="text"
        role="combobox"
        autocomplete="off"
        @keyup="onSearchKeyUp"
        @keydown="onSearchKeyDown"
        @input="onSearch"
      >
    </div> -->

    <transition name="fade">
      <div
        v-if="hasMenu"
        ref="IZ-select__menu"
        :style="menuDynamicStyles"
        :class="{
          'IZ-select__menu': true,
          'IZ-select__menu--disable-search': disableSearch
        }"
      >
        <slot name="before-items-fixed"></slot>

        <div
          ref="IZ-select__menu-items"
          :style="{
            'max-height': menuItemsMaxHeight
          }"
          class="IZ-select__menu-items"
          @scroll="onScroll"
        >
          <slot name="before-items">
            <div style="height: 8px;"></slot>
          </slot>

          <!--itemsComputedWithScrollLimit-->
          <div
            v-for="(item, i) in itemsComputed"
            v-show="i < scrollItemsLimitCurrent || (arrowsIndex && i <= arrowsIndex)"
            ref="items"
            :key="'IZ-item-' + i"
            :class="{
              'IZ-select__item': true,
              'IZ-select__item--selected': isItemSelected(item)
            }"
            @click="onClickSelectItem(item)"
          >
            <slot
              :item="item"
              name="item"
            >
              <span>
                {{ getItemText(item) }}
              </span>
            </slot>
          </div>

          <div
            v-if="!itemsComputed.length && !loading"
            class="IZ-select__no-data"
          >
            <slot name="no-data">
              No data available
            </slot>
          </div>

          <slot name="after-items">
            <div style="height: 8px;"></slot>
          </slot>
        </div>

        <slot name="after-items-fixed"></slot>

        <div style="position: absolute; top: 0; left: 0; right: 0;">
          <slot name="before-items-fixed-absolute"></slot>
        </div>
        <div style="position: absolute; bottom: 0; left: 0; right: 0;">
          <slot name="after-items-fixed-absolute"></slot>
        </div>
      </div>
    </transition>

    <transition name="fade">
      <div
        v-show="errorMessage"
        class="IZ-select__error"
      >
        <slot
          :errorMessage="errorMessage"
          name="error"
        >
          {{ errorMessage }}
        </slot>
      </div>
    </transition>
  </div>