<md-content class="pt-3">
    <rct-form :model="model" :save="save">
        <template slot-scope={form}>
            <md-steppers md-vertical>
                <md-step id="details" md-label="Details"
                    md-description="Event details: Poster, Title, Description, etc."
                >
                    <div class="md-layout md-gutter pt-3">
                        <div class="md-layout-item" style="flex: 0 0 260px; max-width: 260px;">
                            <rct-form-img
                                label="Poster"
                                v-model="form.poster"
                            />
                        </div>
                        <div class="md-layout-item">
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item">
                                    <rct-form-text
                                        label="Title"
                                        v-model="form.title"
                                    />
                                </div>
                                <div class="md-layout-item">
                                    <rct-form-autocomplete
                                        v-model="form.organizer"
                                        label="Organizer"
                                        :options="organizers"
                                        opt-label="fullName"
                                    >
                                        <template slot="option" slot-scope="{option}">
                                            {{option.fullName}}
                                        </template>
                                    </rct-form-autocomplete>
                                </div>
                            </div>
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item">
                                    <rct-form-autocomplete
                                        v-model="form.location"
                                        label="Location"
                                        opt-label="description"
                                        :options="places"
                                        format="object"
                                    >
                                        <template slot="option" slot-scope="{option}">
                                            {{option.description}}
                                        </template>
                                    </rct-form-autocomplete>
                                </div>
                            </div>
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item">
                                    <rct-form-datetime-picker
                                        v-model="form.startDate"
                                        label="Start Date and Time"
                                    />
                                </div>
                                <div class="md-layout-item">
                                    <rct-form-datetime-picker
                                        v-model="form.endDate"
                                        label="End Date and Time"
                                    />
                                </div>
                            </div>
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item">
                                    <rct-form-textarea
                                        v-model="form.ticketLink"
                                        label="Tickets Link"
                                    />
                                </div>
                            </div>
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item">
                                    <rct-form-textarea
                                        v-model="form.description"
                                        label="Description"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </md-step>
                <md-step id="agenda" md-label="Agenda"
                    md-description="Event agenda: Speakers, Topics, etc."
                >
                    <div class="pt-3">
                        <div v-for="(value, key) in form.agenda" class="border border-dashed px-3 mb-3">
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item">
                                    <div class="md-layout md-gutter">
                                        <div class="md-layout-item">
                                            <rct-form-text
                                                label="Speaker"
                                                v-model="form.agenda[key].speaker"
                                            ></rct-form-text>
                                        </div>
                                    </div>  
                                    <div class="md-layout md-gutter">
                                        <div class="md-layout-item">
                                            <rct-form-text
                                                label="Company"
                                                v-model="form.agenda[key].company"
                                            ></rct-form-text>
                                        </div>
                                        <div class="md-layout-item">
                                            <rct-form-text
                                                label="Position"
                                                v-model="form.agenda[key].position"
                                            ></rct-form-text>
                                        </div>
                                    </div>
                                    <div class="md-layout md-gutter">
                                        <div class="md-layout-item">
                                            <rct-form-text
                                                label="Topic"
                                                v-model="form.agenda[key].topic"
                                            ></rct-form-text>
                                        </div>
                                    </div>
                                    <div class="md-layout md-gutter">
                                        <div class="md-layout-item">
                                            <rct-form-textarea
                                                label="Description"
                                                v-model="form.agenda[key].description"
                                            ></rct-form-textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="md-layout-item pt-3" style="flex: 0 0 64px">   
                                    <md-button class="md-icon-button" @click="remove(form, key)">
                                        <md-icon>close</md-icon>
                                        <md-tooltip md-direction="top">Remove</md-tooltip>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <md-button class="md-raised mx-0" @click="add(form)">Add</md-button>
                        </div>
                    </div>
                </md-step>
            </md-steppers>
        </template>
    </rct-form>
</md-content>