<md-content class="pt-3">
    <div class="md-layout md-gutter">
        <div class="md-layout-item">
            <rct-form-text
                label="Title"
                v-model="model.title"
            />
        </div>
        <div class="md-layout-item">
            <rct-form-autocomplete
                v-model="model.organizer"
                label="Organizer"
                :options="organizers"
                opt-label="name"
                opt-value="id"
            >
                <template slot="option" slot-scope="{option}">
                    {{option.name}}
                </template>
            </rct-form-autocomplete>
        </div>
    </div>
    <div class="md-layout md-gutter">
        <div class="md-layout-item">
            <rct-form-autocomplete
                v-model="model.location"
                label="Location"
            />
        </div>
    </div>
    <div class="md-layout md-gutter">
        <div class="md-layout-item">
            <rct-form-datetime-picker
                v-model="model.startDate"
                label="Start Date and Time"
            />
        </div>
        <div class="md-layout-item">
            <rct-form-datetime-picker
                v-model="model.endDate"
                label="End Date and Time"
            />
        </div>
    </div>
    <div class="md-layout md-gutter">
        <div class="md-layout-item">
            <rct-form-textarea
                v-model="model.description"
                label="Description"
            />
        </div>
    </div>
</md-content>