<div>

    <md-toolbar class="md-transparent" md-elevation="0">
        <div class="md-title">Rocket Admin</div>
    </md-toolbar>
    
    <md-list>
        <md-list-item :to="{name: 'dashboard'}" @click="toggle">
            <md-icon>dashboard</md-icon>
            <span class="md-list-item-text">Dashboard</span>
        </md-list-item>
        <md-list-item :to="{name: 'events'}" @click="toggle">
            <md-icon>date_range</md-icon>
            <span class="md-list-item-text">Events</span>
        </md-list-item>
        <md-list-item :to="{name: 'users'}" @click="toggle">
            <md-icon>person</md-icon>
            <span class="md-list-item-text">Users</span>
        </md-list-item>
        <md-list-item :to="{name: 'organizers'}" @click="toggle">
            <md-icon>assignment_ind</md-icon>
            <span class="md-list-item-text">Organizers</span>
        </md-list-item>
    </md-list>

</div>